/* header  */
.header {
    background-color: #14261f8c;
    width: 100%;
    padding: 0 15px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    margin: 0;
    font-family: 'Inter', sans-serif;
}
.header:hover {
    background-color: var(--green80);
    transition: background-color 0.3s ease;
}
.home_header_wrapper {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    /* justify-content: space-between; */
    gap: 3rem;
    align-items: center;


}

.home_header_logo,
.home_header_menu_btn,
.home_header_menu {
    z-index: 10001;
}


.home_header_logo img {
    /* width: 30%; */
    width: 250px;
    height: 70px;
    display: flex;
    justify-content: center;
}

.home_header_menu ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 30px;
}

.home_header_menu ul li a {
    text-decoration: none;
    color: var(--lightgrey);
    font-weight: 400;
    text-transform: uppercase;
    font-size: clamp(0.5rem, 1.2vw, 2rem);
}


.home_header_menu_btn {
    display: none;
    /* display: flex; */
    flex-direction: column;
    gap: 3px;
    align-items: end;
    float: left;
    transform: translateX(-2%);
    cursor: pointer;
}

.home_header_menu_btn span {
    display: block;
    height: 3px;
    width: 1.5rem;
    background-color: var(--white);
    border-radius: 2px;
    transition: all 0.3s ease;
}

.home_header_menu_btn.active {
    border-color: white;
}

.home_header_menu_btn.active span:nth-child(1) {
    color: var(--color7);
    transform: rotate(45deg) translate(0px, 4px);
    background-color: white;
}

.home_header_menu_btn.active span:nth-child(2) {
    display: none;
}

.home_header_menu_btn.active span:nth-child(3) {
    color: var(--color7);
    transform: rotate(-45deg) translate(0px, -5px);
    background-color: white;
}

.menu_mobile_nav {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: var(--green80);
    position: fixed;
    z-index: 10000;
    display: flex;
    justify-content: center;
    text-align: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    will-change: transform;

}

.menu_mobile_nav.active {
    transform: translateX(0);
}

.menu_mobile_nav ul {
    margin: auto;
    justify-content: center;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  

}

.menu_mobile_nav ul li a {
    text-decoration: none;
    color: var(--lightgrey);
    font-weight: 600;
    text-transform: uppercase;
    font-size: clamp(1rem, 2vw, 3rem);
}

.menu_mobile_nav ul li a:hover {
    text-decoration: underline;
}

.menu_mobile_nav li {
    opacity: 0;
    transform: translateY(20px);
    transition: 0.4s ease-out;
}

.menu_mobile_nav>li {
    text-align: center;
}

.menu_mobile_nav.active li {
    opacity: 1;
    transform: translateY(0);
    text-align: center;

}

.menu_mobile_nav.active li:nth-child(1) {
    transition-delay: .2s;
}

.menu_mobile_nav.active li:nth-child(2) {
    transition-delay: .3s;
}

.menu_mobile_nav.active li:nth-child(3) {
    transition-delay: .4s;
}

.menu_mobile_nav.active li:nth-child(4) {
    transition-delay: .5s;
}

.menu_mobile_nav.active li:nth-child(5) {
    transition-delay: .6s;
}

.menu_mobile_nav.active li:nth-child(6) {
    transition-delay: .7s;
}

/* footer  */
#footer {
    width: 100%;
    background-color: var(--green80);
    background-image:
        linear-gradient(to bottom,
            var(--green80) 20%,
            #14261f72),
        url("../assets/imgs/pattern-footer.svg");


    background-repeat:
        no-repeat,
        no-repeat;

    background-size:
        cover,
        30% auto;

    background-position:
        center,
        right bottom;

    color: white;
    padding: 1rem 0 2rem 0;
    position: relative;
    overflow: hidden;
}

.overlay-footer {
    content: "";
    position: absolute;
    width: 100%;
    inset: 0;
    transform: translateX(10%);
    background: #ecf1ef01;
    z-index: 0;
}

hr {
    width: 95%;
    margin: 0 auto;
    height: 1px;
    color: var(--color3);
}

.footer-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 4rem;
    margin-bottom: 2rem;
    gap: 2em;
}

.footer-content,
.footer-contact {
    flex: 1;
}

.footer-contact {
    background: #33614D33;
    padding: 1rem;
    margin-left: 5rem;
}

.footer-contact ul {
    list-style: none;
    padding-left: 0;
}

.footer-contact ul li:not(:last-child) {
    border-bottom: 1px solid var(--green40);
}

.footer-contact ul li {
    padding: 0.3rem 0;

}


.footer-content img {
    width: 90px;
    height: auto;
    margin-bottom: 1rem;
}

.footer-brand {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 0.5rem 4rem;
}

.footer-link img {
    width: 30px;
    height: auto;
    margin-left: 0.5rem;
}

@media (max-width:768px) {
    .home_header_wrapper {

        justify-content: space-between;


    }

    .home_header_logo,
    .home_header_menu_btn {
        flex: 1;
    }

    .home_header_menu {
        display: none;
    }

    .home_header_menu_btn {
        display: flex;
    }

    .home_header_logo img {
        width: 210px;
        height: 70px;
    }
    .footer-menu ul li {
        padding: 0.3rem 1rem;
    }
    .footer-menu ul,
    .footer-brand {
        flex-direction: column;
    }
}
