:root {
    --primary-orange: #ff5f00;
    --text-white: #ffffff;
    --text-dim: rgba(255, 255, 255, 0.7);
    --bg-black: #050505;
    --line-color: rgba(255, 255, 255, 0.15);
}

@font-face {
    font-family: 'MTD';
    src: url('../fonts/MTD\ Voyage\ Bold.otf') format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('../fonts/Space_Grotesk/static/SpaceGrotesk-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('../fonts/Space_Grotesk/static/SpaceGrotesk-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('../fonts/Space_Grotesk/static/SpaceGrotesk-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('../fonts/Space_Grotesk/static/SpaceGrotesk-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('../fonts/Space_Grotesk/static/SpaceGrotesk-Bold.ttf') format('truetype');
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
    /* border: solid 1px red; */
}

body {
    overflow-x: hidden;

    background-color: rgb(10, 10, 10);
    color: var(--text-white);
    font-family: 'Space Grotesk', sans-serif;
    height: 100vh;
    line-height: 1.6;
}

#main-app {
    position: fixed;
    inset: 0;
    width: 100%;
    z-index: 1;
    will-change: background-color;
}

/* .page {
    position: relative;
} */

/* html {
    scroll-behavior: smooth;
} */

/* #main-scroll {
    scroll-behavior: smooth;
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;
} */




header nav ul li a,
.menu_mobile_nav ul li a {
    color: var(--text-white);
    text-decoration: none;
    margin-left: 40px;
    font-size: clamp(12px, 1.4vw, 16px);
    font-weight: 700;
    letter-spacing: 1px;
    transition: border 0.3s;
    /* padding-left: 15px; */
}

header nav ul li a.active,
header nav ul li a:hover {
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}
.menu_mobile_nav > ul li a.active{
    border-bottom: none;
    
}
.menu_mobile_nav > ul li.active{
position: relative;
}
.menu_mobile_nav > ul li.active::before {
    content: "";
    position: absolute;
    left: -15px; 
    top: 50%;
    transform: translateY(-50%); 
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 8px solid white;
    opacity: 1;
}


/* .scroll-container {
    scroll-snap-align: start;
    min-height: 100vh;
} */
.wrap {
    width: min(1300px, 90%);
    margin: 0 auto;
    padding: 0 3rem;
}

.page-section {
    position: absolute;
    inset: 0;

    align-items: center;
    justify-content: center;
    padding: 0 3rem;
    will-change: transform, opacity;
}

.page-section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.hero-main-text {
    /* display: flex; */
    flex-direction: column;
}

.hero-main-text h1 {
    font-size: clamp(35px, 6.7vw, 70px);
    font-weight: 900;
    letter-spacing: -2px;
    line-height: 1.1;
    white-space: nowrap;
}

.serif-title {
    font-family: 'MTD', serif;
    font-size: clamp(40px, 8vw, 85px);
    /* font-style: italic; */
    font-weight: 300;
    margin-top: -1.5rem;
}



.hero-main-text>div {
    display: flex;
    justify-content: space-between;
    /* grid-template-columns: 1.2fr 2fr; */
    gap: 2rem;
    /* align-items: end; */
    /* margin-top: -1rem; */
    /* margin: auto 1rem; */
    /* padding-left: -0.5rem; */
    /* grid-column: 1 / -1; */

}

.text-mask {
    /* overflow: hidden; */
    width: fit-content;
    display: block;
}

/* .text-mask h2 {
    font-size: clamp(35px, 7vw, 75px);
    
} */

.line {
    display: block;
    will-change: transform;
}

.bg-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
    pointer-events: none;
}


.gradient-sphere {
    position: absolute;
    border-radius: 50%;
    filter: blur(80px);
    opacity: 0.8;
    transition: transform 0.1s linear;
    will-change: transform;
}


.gradient-sphere.orange {
    width: 80vw;
    height: 80vw;
    top: -20%;
    right: -20%;
    background: radial-gradient(circle, rgba(255, 69, 0, 0.7) 0%, rgba(255, 69, 0, 0) 70%);
}

.gradient-sphere.blue {
    width: 70vw;
    height: 70vw;
    bottom: -20%;
    left: -10%;
    background: radial-gradient(circle, rgba(0, 100, 255, 0.6) 0%, rgba(0, 100, 255, 0) 70%);
}


.noise-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    opacity: 0.07;
    mix-blend-mode: overlay;
}

#cursor {
    position: fixed;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    mix-blend-mode: difference;
}


.ruler-ui {
    position: fixed;
    left: 20%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    opacity: 0;
    transition: opacity 0.5s;
    margin-left: 4rem;
}

.ruler-ui.active {
    opacity: 1;
}

.ruler-track {
    position: relative;
    height: 65vh;

    width: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* 
.indicator {
    position: absolute;
    left: -4px;
    top: 0;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 9px solid white;
} */

/* .section {
    height: 100vh;
    position: relative;
    overflow: hidden;
} */

/* #main-scroll {
    height: 100vh;
    overflow-y: auto;
    overscroll-behavior: contain;
} */

/* .site-footer {
    padding: 120px 80px;
    color: #fff;
}

.section {
    opacity: 1;
    transform: translateY(30px);
    transition: all .6s ease;
}

.section.active {
    opacity: 1;
    transform: translateY(0);
} */



/* .bg-wrapper,
.gradient-sphere,
.noise-overlay,
.glass-card {
    will-change: transform;
} */


.noise-overlay {
    position: fixed;
    inset: 0;
    z-index: 999;
    background: url('https://grainy-gradients.vercel.app/noise.svg');
    opacity: 0.05;
    pointer-events: none;
}



/* Layout */
.container {

    width: 100%;
    /* padding: 0 10%; */
    /* padding: 0 50px; */
}

header {
    padding: 1rem 3rem;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1001;

    pointer-events: none;
    position: fixed;

}

.wrap-layout {
    width: min(1300px, 100%);
    margin: 0 auto;
    padding: 0 3rem;

}

header .wrap-layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
}




header .logo,
header nav {
    pointer-events: auto;
}
header nav ul,
.menu_mobile_nav ul{
    list-style: none;
    display: flex;
}
header nav ul li a,.menu_mobile_nav ul li a {
    font-weight: 700;
    letter-spacing: 1px;
    
}

header nav {
    opacity: 1;
    visibility: visible;
    transition: opacity .3s ease;
}


#menu_mobile{
    display: none;
    width: 100vw;
    height: 100vh;
    inset: 0;
    z-index: 1000;
    position: sticky;
    backdrop-filter: blur(10px);
    background: #0000006d;
    clip-path: circle(0px at 100% 0);
    transition: clip-path 0.7s cubic-bezier(.4,0,.2,1);
}
#menu_mobile.active {
    display: block;
    clip-path: circle(150% at 100% 0);}

.menu-toggle {
    position: fixed;
    top: 30px;
    right: 5%;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    z-index: 1100;
    display: flex;
    align-items: center;
    gap: 10px;
    display: none;
    /* transform: translateX(20px); */
    transition: all 0.5s ease;
    pointer-events: auto;
    cursor: pointer;
}
.menu-toggle.active span:nth-child(1) {
    color: var(--color7);
    transform: rotate(45deg) translate(0px, 5px);
    background-color: white;
}

.menu-toggle.active span:nth-child(2) {
    display: none;
}

.menu-toggle.active span:nth-child(3) {
    color: var(--color7);
    transform: rotate(-45deg) translate(0px, -5px);
    background-color: white;
}
.menu_mobile_nav{
    height: 50%;
    width: 100%;
    margin: auto;
    /* justify-content: right; */
    padding: 9rem 1.5rem;
    align-items: unset;
    display: flex;
}
.menu_mobile_nav ul{
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}
.menu_mobile_nav ul li a{
    font-size: clamp(16px, 2rem, 20px);
    margin-left:0;
}
.menu_mobile_nav ul li{
    padding-bottom: 0.3rem;
    border-bottom: 1.5px solid white ;
}
.home_header_menu_btn.active {
    border-color: white;
}
.menu-toggle.is-visible {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
}
.menu-icon {
    align-items: center;
    justify-content: center;
}
.menu-icon span {
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin: 4px 0;
    transition: all 0.3s ease;
}





/* body.is-scrolled header nav {
    opacity: 0;
    pointer-events: none;
} */

/* body.is-scrolled .hidden-menu-toggle {
    opacity: 1;
    pointer-events: auto;
} */

.hidden-menu-toggle {
    position: fixed;
    top: 30px;
    right: 5%;
    z-index: 10000;

    opacity: 0;
    transform: translateX(20px);
    pointer-events: none;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);

    background: rgba(140, 21, 21, 0.45);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 40px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
}

.hidden-menu-toggle.is-visible {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
}

.hidden-menu-overlay {
    position: fixed;
    height: fit-content;
    inset: 0;
    background: #f7f6f3;
    color: #111;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-20px);
    transition: all 0.6s cubic-bezier(.7, 0, .2, 1);
}

.hidden-menu-overlay.active {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.hidden-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.hidden-menu-logo {
    font-size: clamp(18px, 1.4vw, 21px);
    font-weight: 600;
}

.hidden-menu-close {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background: #000;
    color: #fff;
    font-size: clamp(15px, 1.2vw, 17px);
    cursor: pointer;
}

.hidden-menu-content {
    /* display: grid;
    grid-template-columns: 1fr 1fr auto; */
    gap: 120px;
    padding: 1rem 3rem;
    margin: 0 auto;
    width: 60%;
}

.hidden-menu-content ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.hidden-menu-content li {
    font-size: clamp(10px, 1vw, 14px);
    letter-spacing: 0.25em;
    /* margin-bottom: 0.7rem; */
    cursor: pointer;
    position: relative;
}

.hidden-menu-content li::before {
    content: "▸";
    position: absolute;
    left: -20px;
    opacity: 0;
    transition: opacity .3s;
}

.hidden-menu-content li:hover::before {
    opacity: 1;
}

.hidden-menu-time li {
    text-align: right;
    letter-spacing: 0.15em;
}


#main-app {
    position: relative;
    position: fixed;
    inset: 0;
    width: 100%;
    /* padding: 0 10%;   */
    will-change: background-color;
    background: transparent !important;
}

.page-section {
    position: absolute;
    inset: 0;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    will-change: transform, opacity;
}



.hero-section {
    height: fit-content;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: start;
    justify-content: center;

}

.logo img {
    width: 40px;
}

.glass-card {
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow:
        inset 0 1px 2px rgba(255, 255, 255, 0.651),
        /* viền sáng phía trên */
        inset 0 -2px 5px rgba(122, 122, 122, 0.55),
        /* bóng sâu phía trong */
        0 3px 2px rgba(0, 0, 0, 0.336);
    border: 2px solid rgba(255, 255, 255, 0.705);
    box-shadow: #d1d1d1;
    padding: 2.5rem 2.5rem;
    border-radius: 15px;
    text-align: left;
    /* width: clamp(10%, 77%, 1000px); */
    margin: 6rem 0 5rem 0;
    grid-column: 3/11;
    grid-row: 4/12;
}

.hero-main-text {
    /* display: grid; */
    margin: auto;
    grid-template-columns: repeat(12, 1fr);
}

.glass-card h1 {
    /* margin: auto; */
    /* font-size: clamp(45px, 9vw, 75px); */
    font-weight: 900;
    letter-spacing: -2px;
    line-height: 1.1;
    /* grid-column: 1/-1; */
}


#h-l1,
#h-l1-sub {
    white-space: nowrap;
}

.hero-desc {
    margin-top: 2rem;
    margin-left: 2rem;
    gap: 40px;
}

.hero-desc p {
    font-size: 11px;
    /* max-width: 300px; */
    opacity: 0.8;
}

.services-list {
    color: var(--text-white);
    font-weight: 700;
}


.content-section {
    display: flex;
    margin: 0 2rem 5rem 0.5rem;
    position: relative;
}

.side-indicator {
    width: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow {
    font-size: 10px;
    margin-bottom: 20px;
}

:root {
    --primary-orange: #ff5f00;
    --line-color: rgba(255, 255, 255, 0.15);
}

.scroll-container {
    display: flex;
    height: 100vh;
    /* width: 100vw; */
    overflow: hidden;
    padding: 0 8rem;
}

.ruler-ui {
    position: fixed;
    top: 55%;
    transform: translateY(-50%);
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 100;
    left: 10%;
}

.ruler-ui.active {
    opacity: 1;
}

.ruler-track {
    position: relative;
    height: 100%;
    width: 1px;
    /* background: rgba(255, 255, 255, 0.2); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}



.tick-special {
    position: absolute;
    right: 0;
    width: 7px;
    height: 1px;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
}

.tick-top {
    top: 0;
}

.tick-bottom {
    bottom: 0;
}

.tick-label {
    position: absolute;
    left: -3rem;
    /* font-family: 'Inter', sans-serif; */
    white-space: nowrap;
    font-size: clamp(20px, 3.5vw, 30px);
    letter-spacing: 2px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    transition: color 0.3s;
    padding-left: 5rem;
}




.tick-special.active .tick-label {
    color: #fff;
}

.tick.main {
    width: 2px;
    height: 1px;
    background: var(--line-color);
    transition: all 0.3s ease;
    margin-left: 20px;
}


.sub-tick {
    position: absolute;
    left: 50%;
    width: 3px;
    height: 1px;
    background: rgba(255, 255, 255, 0.25);
    transform: translateX(-50%);
    transition: all 0.35s cubic-bezier(0.19, 1, 0.22, 1);

}




.indicator {
    position: absolute;
    left: -1rem;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 7px solid white;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));
    z-index: 10;

    transform: translateY(-50%);

    transition: top 0.1s linear;
}


.content-scroll-box {
    flex: 1;
    height: 100vh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    overflow: hidden;

}

.content-scroll-box::-webkit-scrollbar {
    display: none;

}

.content-section {
    min-height: 70vh;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 0vw;
    opacity: 0.1;
    transform: translateX(-20px);
    transition: all 0.8s ease;
}

.content-section.visible {
    opacity: 1;
    transform: translateX(0);
}

.content-body {
    flex: 1;
    padding-left: 20px;
}

.section-title {
    font-size: clamp(20px, 5vw, 30px);
    font-weight: 900;
    margin-bottom: 30px;
}

.hero-side-desc {
    margin-top: 0.5rem;
    color: white;
}

.hero-side-desc p {
    font-size: clamp(9px, 1vw, 11px);
    opacity: 0.8;
    text-transform: uppercase;
}

.text-mask .services-list {
    opacity: 1;
}

.video-container {
    text-align: center;
}

.video-subtext,
.client-desc {
    font-size: clamp(11px, 1.5vw, 14px);
    margin-bottom: 30px;
    opacity: 0.9;
    font-weight: 600;
    text-align: center;
}
.video-glass-wrapper,.video-placeholder{
    width: 80%;
    max-width: 600px;
    aspect-ratio: 16/9;
    /* background: rgba(255, 255, 255, 0.05); */
    margin: 0 auto;
    border-radius: 20px;
    padding: 10px;

    
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.video-glass-wrapper{
    border: 2.5px solid rgba(255, 255, 255, 0.699); 
    box-shadow: 

        0 0 20px rgba(255, 255, 255, 0.21), 
        0 10px 30px rgba(0, 0, 0, 0.386),   
        inset 0 0 10px rgba(255, 255, 255, 0.279); 
        /* backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px); */
}

.video-placeholder{
    width: 100%;
    padding: 0;
}


.play-btn {
    width: 60px;
    height: 60px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
}



.video-container {
    position: relative;
    z-index: 1;
}

.show-more {
    font-family: "Space Grotesk", sans-serif;
    margin-top: 20px;
    padding: 7px 25px;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.701);
    background: transparent;
    color: #fff;
    font-weight: 300;
    font-size: clamp(11px,1.2vw,13px);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: color 0.6s ease-in-out, border-color 0.6s ease;
    z-index: 1;
    display: inline-block;
}

.show-more::before {
    content: "";
    position: absolute;
    top: 150%;
    left: 20%;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width 1s cubic-bezier(0.4, 0, 0.2, 1),
        height 1s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: -1;
}

.show-more:hover {
    color: #000;
    border-color: #fff;

}

.show-more:hover::before {
    width: 500px;
    height: 500px;

}

/* Clients Grid */
/* .client-desc {
    max-width: 500px;
    font-size: clamp(12px, 1.2vw, 14px);
    margin: 0 auto 2.5rem auto;
    opacity: 1;
    text-align: center;
} */

.clients-grid img {
    width: 100%;
}

.client-item {
    aspect-ratio: 2/1;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 4px;
}


.event-portfolio {
    padding: 60px 0;
    background: #fff;
}

.main-container {
    width: min(1200px, 92%);
    margin: auto;
}

.project-content-container {
    grid-column: 3/11;
    grid-row: 5/11;
}

:root {
    --line-color: #d1d1d1;
    --active-color: #000;
}

.portfolio-section {
    padding: 60px 0;
    /* font-family: 'Inter', sans-serif; */

}

.portfolio-container {
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 0 3rem;
    display: flex;
    gap: 40px;
}


.portfolio-sidebar {
    width: 280px;
    flex-shrink: 0;
}

.portfolio-menu {
    list-style: none;
    padding: 0 0 0 20px;
    margin: 0;
    border-left: 1px dashed var(--line-color);
}

.portfolio-menu__item {
    position: relative;
    padding: 10px 0 10px 25px;
    font-size: 12px;
    font-weight: 700;
    color: #888;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.portfolio-menu__item::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 50%;
    width: 15px;
    border-top: 1px dashed var(--line-color);
}

.portfolio-menu__item.is-active,
.portfolio-menu__item:hover {
    color: var(--active-color);
}


.portfolio-menu__item.is-active::after {
    content: "▶";
    position: absolute;
    left: -35px;
    top: 13px;
    font-size: 8px;
    color: #000;
}

.portfolio-content {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.portfolio-column {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.portfolio-column.is-offset {
    margin-top: 80px;
}

.portfolio-card {
    width: 100%;
}

.portfolio-card__image {
    width: 100%;
    aspect-ratio: 1 / 1;
    /* Hình vuông */
    background-color: #eee;
    margin-bottom: 20px;

    cursor: pointer;
    transition: filter 0.3s ease;
}

.portfolio-card__image:hover {
    filter: brightness(0.9);
}

.portfolio-card__cat {
    display: block;
    font-size: 10px;
    font-weight: 800;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
    color: black;
}

.portfolio-card__title {
    margin: 0;
    padding-top: 10px;
    border-top: 1.5px solid #222;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000;
}

.services-header {
    color: black
}

.services-section {
    padding: 80px 0;
    border-top: 1px solid #000;

}

.services-container .white-section {
    padding: 0;
}



.services-header {


    margin-bottom: 60px;
}

.services-header__main>div {
    display: grid;
    grid-template-columns: 1.3fr 1fr;

    gap: 2rem;
}

.services-title {
    font-size: 42px;
    font-weight: 900;
    line-height: 1.1;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.services-desc {
    font-size: 14px;
    line-height: 1.6;
    color: #333;
    margin-right: 2rem;

}

.capabilities-title {
    font-size: 16px;
    font-weight: 800;
    /* margin-bottom: 15px; */
}

.capabilities-list {
    list-style: none;
    padding: 0;
}

.capabilities-list li {
    font-size: 14px;
    /* margin-bottom: 10px; */
    padding-left: 20px;
    position: relative;
}

.capabilities-list li::before {
    content: "•";
    position: absolute;
    left: 0;
}

/* --- RESPONSIVE --- */
@media (max-width: 991px) {
    .portfolio-container {
        flex-direction: column;
    }

    .portfolio-sidebar {
        width: 100%;
        margin-bottom: 30px;
    }

    .portfolio-column.is-offset {
        margin-top: 0;
    }
}

/* ===== PROJECT CARD ===== */
.project .thumb {
    aspect-ratio: 1 / 1;
    background: #ddd;
}

.project.orange .thumb {
    background: #ff9c1a;
}

.project.red .thumb {
    background: #e5540f;
}

.project.gray .thumb {
    background: #cfcfcf;
}

.project .meta {
    margin-top: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.project span {
    font-size: 11px;
    letter-spacing: 1px;
    display: block;
}

.project h4 {
    font-size: 13px;
    font-weight: 600;
    margin-top: 4px;
}


@media (max-width: 992px) {
    .portfolio-layout {
        grid-template-columns: 1fr;
    }

    .portfolio-grid {
        grid-template-columns: 1fr;
    }
}

.career-hero {
    background: url(../imgs/BG2.png);
    background-size: cover;
    background-position: center;
}

.career-hero h1 {
    width: 80%;
    margin: auto;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: -2px;
    line-height: 1.1;
}

.hero-sub {
    font-size: 11px;
    text-transform: uppercase;
    opacity: 0.9;
    /* padding-top: 1rem; */
    max-width: 250px;
    margin-left: auto;
    text-align: left;
    margin-top: 1rem;
    right: 0
}

.services-sub {
    border-left: solid 1px white;
    padding-left: 1rem;
    text-align: left;
    justify-content: end;
    max-width: 250px;

}


.white-section {
    background: white;
    color: black;
    padding: 100px 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.project-item .thumb {
    background: #d9d9d9;
    aspect-ratio: 1/1;
    /* margin-bottom: 15px; */
}

.project-info {
    /* border-top: 1px solid #ddd; */
    padding-top: 10px;
}

.project-tag {
    font-size: 14px;
    font-weight: 600;
    color: #333;
    margin-bottom: 5px;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #000;
}

.project-name {
    font-size: 16px;
    font-weight: 900;
}



/* Footer */
#footer,
footer {
    /* height: 100vh; */
    padding: 100px 0 60px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    inset: 0;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
    z-index: 5;
}

footer {
    background: url(../imgs/BG3.png);
    background-size: cover;
    background-position: center;
}

.footer-main {
    /* display: grid;
    grid-template-columns: 1.5fr 1fr 0.5fr; */
    gap: 40px;
}

.footer-cta>div {
    display: grid;
    grid-template-columns: 1.5fr 1fr 0.5fr;
    gap: 40px;
}

.footer-cta h2 {
    font-size: clamp(20px, 2.3vw, 30px);
    line-height: 1.2;
    margin-bottom: 20px;
}

.email-link {
    font-size: clamp(20px, 1.5vw, 22px);
    font-weight: 700;
    color: #fff;
    text-decoration: none;

}

.email-link span {
    border-bottom: 2px solid #fff;
}

.footer-info h4 {
    font-size: clamp(16px, 1.5vw, 18px);
    margin-bottom: 0.5rem;
    /* margin-top: 30px; */
}

.footer-info p {
    font-size: clamp(10px, 1vw, 13px);
    color: var(--text-dim);
    margin-bottom: 2px;
}

.footer-nav {
    list-style: none;
    text-align: right;
}

.footer-nav li {
    margin-bottom: 15px;
    text-align: left;
    position: relative;
    padding-left: 13px;


}
.footer-nav li.active::before {
    content: "";
    position: absolute;
    left: 0; 
    top: 50%;
    transform: translateY(-50%); 
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 8px solid white;
    opacity: 1;
}

.footer-nav a {
    text-decoration: none;
    color: #fff;
    font-weight: 800;
    font-size: clamp(16px, 1.5vw, 18px);
}

.footer-main {
    grid-column: 3/11;
    grid-row: 5/13;
    width: 100%;
    height: fit-content;

}

@media (max-width:600px) {
    
    .wrap{
        padding: 0 0.3rem;
    }
    .menu-toggle{
        display: block;
    }
    .ruler-ui {
        display: none;
    }
    .services-header__main>div{
        grid-template-columns: 1fr;
    }

    .wrap-layout nav {
        display: none;
    }

    .page-section {
        padding: 0 0.3rem;
    }

    .mobile-menu-btn {
        display: block;
    }

    /* .logo img {
        width: 40px;
    } */

    header {
        padding: 1rem;
    }

    .wrap-layout {
        padding: 0 0.3rem;
    }

    .project-content-container {
        grid-column: 1/-1;
        grid-row: 1/-1;
    }

    .content-body {
        padding-left: 0;
    }

    .glass-card {
        grid-row: 2/10;
        grid-column: 2/12;
        border: none;
           padding: 2rem 1.5rem;
    }


    .hero-main-text h1 {
        font-size: clamp(50px, 6.7vw, 70px);
        white-space: wrap;
    }

    .serif-title {
        font-size: clamp(60px, 6.7vw, 70px);
    }

    .hero-main-text>div {
        flex-direction: column;
    }
    .video-glass-wrapper, .video-placeholder{
        width: 90%;
        padding: 0;
    }

    
    .footer-main {
        grid-column: 2/12;
        grid-row: 2/12;
        padding: 0 1.2rem;
    }

    .footer-cta>div {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .footer-nav {
        text-align: left;
    }

    .footer-info h4 {
        margin-bottom: 0.2rem;
        margin-top: 10px;
    }

}